/* default css start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
  .header-area {
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.5)),
    url(https://images.unsplash.com/photo-1528353518104-dbd48bee7bc4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80);
    background-position: center center;
    background-size: cover;
  }
  

  .btn_getquote {
	background: #e32961;
	padding: 15px 40px;
	text-align: left;
	float: left;
	color: #fff;
	font-size: 20px;
	font-weight: 501;
	border-radius: 10px;
	margin: 11px 0 16px 0;
}
  /* default css end */
  
  .crypto h2 {
	font-size: 40px;
	font-weight: bold;
	text-align: left;
}
  /* navbar regular css start */
  .navbar-area {
	background: #fff;
	/* border-bottom: 1px solid #000; */
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
	height: 80px;
	padding: 10px;
	position: sticky;
	top: 0;
	z-index: 999;
}
  .site-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  a.site-logo {
    font-size: 26px;
    font-weight: 800;
    color: #e32961;
    text-transform: uppercase;
    color: #a.site-logo {
	font-size: 26px;
	font-weight: 800;
	text-transform: uppercase;
	color: #a.site-logo {
	font-size: 26px;
	font-weight: 800;
	text-transform: uppercase;
	color: #494e9f !important;
	text-decoration: none;
};
	text-decoration: none;
};
    text-decoration: none;
  }
  .site-navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  .site-navbar ul li a {
	color: #484ea6;
	padding: 20px;
	display: block;
	text-decoration: none;
	text-transform: capitalize;
	font-weight: 501;
	font-size: 14px;
	margin-left: 40px;
}
  .site-navbar ul li a:hover {
    background: rgba(255,255,255,.1);
  }

  .new_sec {
	background: #484ea6;
	padding: 30px;
	color: #fff;
	font-weight: ;
}
.mni h2 {
	font-weight: 501;
	line-height: 42px;
    font-size: 30px;
    text-transform: capitalize;
}
.btn_projects {
	background: #e32961;
	color: #fff;
	padding: 10px 30px;
	border-radius: 10px;
	margin: 30px 0 30px 0;
	display: inline-block;
	float: right;
	color: #fff;
	font-weight: 501;
}
.btn_projects:hover {
	color: #fff;
	background: #000;
	text-decoration: none;
}
.headblock1 h2::after {
	background: #e32961;
	content: "";
	display: block;
	width: 100px;
	height: 4px;
	margin: 12px auto;
}
  /* navbar regular css end */
  
  
  /* nav-toggler css start */
  .nav-toggler {
    border: 3px solid #fff;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    height: 39px;
    display: none;
  }
  .nav-toggler span, 
  .nav-toggler span:before, 
  .nav-toggler span:after {
    width: 28px;
    height: 3px;
    background-color: #fff;
    display: block;
    transition: .3s;
  }
  .nav-toggler span:before {
    content: '';
    transform: translateY(-9px);
  }
  .nav-toggler span:after {
    content: '';
    transform: translateY(6px);
  }
  .nav-toggler.toggler-open span {
    background-color: transparent;
  }
  .nav-toggler.toggler-open span:before {
    transform: translateY(0px) rotate(45deg);
  }
  .nav-toggler.toggler-open span:after {
    transform: translateY(-3px) rotate(-45deg);
  }
  /* nav-toggler css start */
  
  
  /* intro-area css start */
  .intro-area {
	height: 700px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #fff;
	background: url("../images/block.png");
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.crypto span {
	font-weight: 400;
}
.crypto h4 {
	text-align: left;
	font-weight: 501;
	color: #e32961;
}
.intro-area h2 {
	font-size: 50px;
	font-weight: 300;
	line-height: 50px;
	margin-bottom: 25px;
	line-height: 65px;
	font-weight: 700;
}
  .intro-area p {
    font-size: 18px;
  }
  /* intro-area css end */
  
  
  /* mobile breakpoint start */
  @media screen and (max-width: 767px) {
    .container {
      max-width: 720px;
    }
    /* navbar css for mobile start */
    .nav-toggler{
      display: block;
    }
    .site-navbar {
      min-height: 60px;
    }
    .site-navbar ul {
      position: absolute;
      width: 100%;
      height: calc(100vh - 60px);
      left: 0;
      top: 60px;
      flex-direction: column;
      align-items: center;
      border-top: 1px solid #444;
      background-color: rgba(0,0,0,.75);
      max-height: 0;
      overflow: hidden;
      transition: .3s;
    }
    .site-navbar ul li {
      width: 100%;
      text-align: center;
    }
    .site-navbar ul li a {
      padding: 25px;
    }
    .site-navbar ul li a:hover {
      background-color: rgba(255,255,255,.1);
    }
    .site-navbar ul.open {
      max-height: 100vh;
      overflow: visible;
    }
    .intro-area h2 {
      font-size: 36px;
      margin-bottom: 15px;
    }  
    /* navbar css for mobile end */
  }
  /* mobile breakpoint end */








  .clip-svg {
    width: 0;
    height: 0;
}

.clip-block {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.clip-section {
	background: #484ea6;
	padding: 70px 50px;
	-webkit-clip-path: polygon(50% 0%, 50% 0%, 100% 25%, 100% 75%, 50% 100%, 50% 100%, 0% 75%, 0% 25%);
	clip-path: polygon(50% 0%, 50% 0%, 100% 25%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	clip-path: url("#hexagon-clip-animate");
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.clip-section:hover {
    -webkit-clip-path: polygon(30% 0, 70% 0, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0 70%, 0 30%);
    clip-path: polygon(30% 0, 70% 0, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0 70%, 0 30%);
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.8), 2px 2px 1px rgba(0, 0, 0, 0.2);			
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.clip-section, .clip-section a {
    color: rgba(255, 255, 255, 0.05);	
}

.title {
    margin-bottom: 20px;
}

.sub-title {
    font-size: 150%;
    letter-spacing: 3px;
}

.title, .sub-title {
    pointer-events: none; /* to allow the mouseover/mouseout events to pass through */
}

@media screen and (min-width: 600px) {
    .clip-section {
        color: #fff;
        font-weight: 500;
    }

    .title {
        font-size: 24px;
        font-weight: 501;
    }

    .sub-title {
        font-size: 150%;
        line-height: 1;
    }
}

@media screen and (min-width: 980px) {
    .clip-block {
        padding: 0;
        -ms-transform: translateY(-50%) translateX(-50%);
        -webkit-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%);
    }
}


.contentwrap {
	position: relative;
	display: inline-block;
	width: 100%;
	margin: 7pc 0 0 0;
	color: #000;
	padding: 100px 0 0 0;
	height: 350px;
}
.contentwrap p {
	font-size: 14px;
	line-height: 22px;
	font-weight: 400;
}
.headblock1 h2 {
	text-align: center;
	font-weight: 501;
	font-size: 30px;
	color: ;
}
.clipsec {
	background: #d3e2f9;
	display: inline-block;
	width: 100%;
	padding: 30px;
}
.headblock1 h2 {
	font-weight: 500;
	color: #484ea6;
	font-family: 'roboto';
    margin: 10px 0 20px 0;
    text-transform: capitalize;
}






.box {
    width: 96%;
    margin:2%;
    padding-bottom: 96%;
    height: 0;
    position: relative;
    float: left;
    cursor: pointer;
    overflow: hidden;
/*		box-shadow: 0px 3px 18px 1px #fff;*/
    
}

.box:after {
    content: '';
    position: absolute;
    background-color: #000;
    opacity:0;
    z-index: 55;
    width: 100%;
    height: 100%;
    -webkit-transition: all .15s ease-out;
    -moz-transition: all .15s ease-out;
    -ms-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out;
}

.box:hover::after {
    background-color: #000;
    opacity:.7;
}

.container .box .caption {
    position: absolute;
    z-index: 60;
    width: 90%;
    margin-left: 5%;
    top: 50%;
    -webkit-transform: scale(3);
    -moz-transform: scale(3);
    -ms-transform: scale(3);
    -o-transform: scale(3);
    transform: scale(3);
    text-align: center;
    -webkit-transition: all .15s ease-out;
    -moz-transition: all .15s ease-out;
    -ms-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out;
    font: 1.4em normal Arial, sans-serif;
    color: #fff;
    opacity: 0;
}

.box:hover .caption {
    -webkit-transform: scale(1) translate(0%, -50%);
    -moz-transform: scale(1) translate(0%, -50%);
    -ms-transform: scale(1) translate(0%, -50%);
    -o-transform: scale(1) translate(0%, -50%);
    transform: scale(1) translate(0%, -50%);
    opacity: 1;
}

.box img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 50;
    -webkit-transition: all .15s ease-out;
    -moz-transition: all .15s ease-out;
    -ms-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out;
}

.box:hover img {
height: 150%;
}
/* media changes, changing number of columns */

@media all and (min-width: 350px){
.container .box{
    width: 48%;
    margin:1%;
    padding-bottom:48%;
}
}

@media all and (min-width: 800px){
.container .box{
    width: 31.3333%;
    padding-bottom:30%;
}
}
@media all and (min-width: 1200px){
.container .box{
    width: 23%;
    padding-bottom:23%;
}
}


section#counter-stats {
	display: flex;
	justify-content: center;
	/* margin-top: 92px; */
	padding: 30px;
}

.stats {
	text-align: center;
	font-size: 35px;
	font-weight: 700;
	font-family: 'roboto';
	line-height: 45px;
}

.stats .fa {
  color: #008080;
  font-size: 60px;
}
.cntrsec {
	background: #e3295e;
	padding: 15px;
	color: #fff;
}


.testimonial {
    margin: 10pc 0 0 0;
    height: 200px;
}
.teamsec {
	background: #484ea6;
	color: #fff;
}

.testim {
    width: 100%;
    top: 50%;
    -webkit-transform: translatey(-50%);
    -moz-transform: translatey(-50%);
    -ms-transform: translatey(-50%);
    -o-transform: translatey(-50%);
    transform: translatey(-50%);
}

.testim .wrap {
position: relative;
width: 100%;
max-width: 100%;
padding: 40px 20px;
margin: auto;
}

.testim .arrow {
display: block;
position: absolute;
color: #333;
cursor: pointer;
font-size: 2em;
top: 50%;
-webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
-webkit-transition: all .3s ease-in-out;    
-ms-transition: all .3s ease-in-out;    
-moz-transition: all .3s ease-in-out;    
-o-transition: all .3s ease-in-out;    
transition: all .3s ease-in-out;
padding: 5px;
z-index: 22222222;
}

.testim .arrow:before {
    cursor: pointer;
}

.testim .arrow:hover {
color: green;
}


.testim .arrow.left {
left: 70px;
}

.testim .arrow.right {
right: 70px;
}

.testim .dots {
text-align: center;
position: absolute;
width: 100%;
bottom: 60px;
left: 0;
display: block;
z-index: 3333;
    height: 12px;
}

.testim .dots .dot {
list-style-type: none;
display: inline-block;
width: 12px;
height: 12px;
border-radius: 50%;
border: 1px solid #000;
margin: 0 10px;
cursor: pointer;
-webkit-transition: all .5s ease-in-out;    
-ms-transition: all .5s ease-in-out;    
-moz-transition: all .5s ease-in-out;    
-o-transition: all .5s ease-in-out;    
transition: all .5s ease-in-out;
    position: relative;
}

.testim .dots .dot.active,
.testim .dots .dot:hover {
background: #e32961;
border-color:#e32961;
}

.testim .dots .dot.active {
-webkit-animation: testim-scale .5s ease-in-out forwards;   
-moz-animation: testim-scale .5s ease-in-out forwards;   
-ms-animation: testim-scale .5s ease-in-out forwards;   
-o-animation: testim-scale .5s ease-in-out forwards;   
animation: testim-scale .5s ease-in-out forwards;   
}

.testim .cont {
position: relative;
    overflow: hidden;
}

.testim .cont > div {
text-align: center;
position: absolute;
top: 0;
left: 0;
padding: 0 0 70px 0;
opacity: 0;
}

.testim .cont > div.inactive {
opacity: 1;
}


.testim .cont > div.active {
position: relative;
opacity: 1;
}


.testim .cont div .img img {
display: block;
width: 100px;
height: 100px;
margin: auto;
border-radius: 50%;
}

.testim .cont div h2 {
	color: #e32961;
	font-size: 16px;
	margin: 15px 0;
	font-weight: 501;
}
.testimonial p {
	font-size: 14px;
	line-height: 23px;
	font-weight: 500;
	color: #585858;
}

.testim .cont div p {
font-size: 1.15em;
color: #333;
width: 70%;
margin: auto;
}

.testim .cont div.active .img img {
-webkit-animation: testim-show .5s ease-in-out forwards;            
-moz-animation: testim-show .5s ease-in-out forwards;            
-ms-animation: testim-show .5s ease-in-out forwards;            
-o-animation: testim-show .5s ease-in-out forwards;            
animation: testim-show .5s ease-in-out forwards;            
}

.testim .cont div.active h2 {
-webkit-animation: testim-content-in .4s ease-in-out forwards;    
-moz-animation: testim-content-in .4s ease-in-out forwards;    
-ms-animation: testim-content-in .4s ease-in-out forwards;    
-o-animation: testim-content-in .4s ease-in-out forwards;    
animation: testim-content-in .4s ease-in-out forwards;    
}

.testim .cont div.active p {
-webkit-animation: testim-content-in .5s ease-in-out forwards;    
-moz-animation: testim-content-in .5s ease-in-out forwards;    
-ms-animation: testim-content-in .5s ease-in-out forwards;    
-o-animation: testim-content-in .5s ease-in-out forwards;    
animation: testim-content-in .5s ease-in-out forwards;    
}

.testim .cont div.inactive .img img {
-webkit-animation: testim-hide .5s ease-in-out forwards;            
-moz-animation: testim-hide .5s ease-in-out forwards;            
-ms-animation: testim-hide .5s ease-in-out forwards;            
-o-animation: testim-hide .5s ease-in-out forwards;            
animation: testim-hide .5s ease-in-out forwards;            
}

.testim .cont div.inactive h2 {
-webkit-animation: testim-content-out .4s ease-in-out forwards;        
-moz-animation: testim-content-out .4s ease-in-out forwards;        
-ms-animation: testim-content-out .4s ease-in-out forwards;        
-o-animation: testim-content-out .4s ease-in-out forwards;        
animation: testim-content-out .4s ease-in-out forwards;        
}

.testim .cont div.inactive p {
-webkit-animation: testim-content-out .5s ease-in-out forwards;    
-moz-animation: testim-content-out .5s ease-in-out forwards;    
-ms-animation: testim-content-out .5s ease-in-out forwards;    
-o-animation: testim-content-out .5s ease-in-out forwards;    
animation: testim-content-out .5s ease-in-out forwards;    
}

@-webkit-keyframes testim-scale {
0% {
    -webkit-box-shadow: 0px 0px 0px 0px #eee;
    box-shadow: 0px 0px 0px 0px #eee;
}

35% {
    -webkit-box-shadow: 0px 0px 10px 5px #eee;        
    box-shadow: 0px 0px 10px 5px #eee;        
}

70% {
    -webkit-box-shadow: 0px 0px 10px 5px #ea830e;        
    box-shadow: 0px 0px 10px 5px #ea830e;        
}

100% {
    -webkit-box-shadow: 0px 0px 0px 0px #ea830e;        
    box-shadow: 0px 0px 0px 0px #ea830e;        
}
}

@-moz-keyframes testim-scale {
0% {
    -moz-box-shadow: 0px 0px 0px 0px #eee;
    box-shadow: 0px 0px 0px 0px #eee;
}

35% {
    -moz-box-shadow: 0px 0px 10px 5px #eee;        
    box-shadow: 0px 0px 10px 5px #eee;        
}

70% {
    -moz-box-shadow: 0px 0px 10px 5px #ea830e;        
    box-shadow: 0px 0px 10px 5px #ea830e;        
}

100% {
    -moz-box-shadow: 0px 0px 0px 0px #ea830e;        
    box-shadow: 0px 0px 0px 0px #ea830e;        
}
}

@-ms-keyframes testim-scale {
0% {
    -ms-box-shadow: 0px 0px 0px 0px #eee;
    box-shadow: 0px 0px 0px 0px #eee;
}

35% {
    -ms-box-shadow: 0px 0px 10px 5px #eee;        
    box-shadow: 0px 0px 10px 5px #eee;        
}

70% {
    -ms-box-shadow: 0px 0px 10px 5px #ea830e;        
    box-shadow: 0px 0px 10px 5px #ea830e;        
}

100% {
    -ms-box-shadow: 0px 0px 0px 0px #ea830e;        
    box-shadow: 0px 0px 0px 0px #ea830e;        
}
}

@-o-keyframes testim-scale {
0% {
    -o-box-shadow: 0px 0px 0px 0px #eee;
    box-shadow: 0px 0px 0px 0px #eee;
}

35% {
    -o-box-shadow: 0px 0px 10px 5px #eee;        
    box-shadow: 0px 0px 10px 5px #eee;        
}

70% {
    -o-box-shadow: 0px 0px 10px 5px #ea830e;        
    box-shadow: 0px 0px 10px 5px #ea830e;        
}

100% {
    -o-box-shadow: 0px 0px 0px 0px #ea830e;        
    box-shadow: 0px 0px 0px 0px #ea830e;        
}
}

@keyframes testim-scale {
0% {
    box-shadow: 0px 0px 0px 0px #eee;
}

35% {
    box-shadow: 0px 0px 10px 5px #eee;        
}

70% {
    box-shadow: 0px 0px 10px 5px #ea830e;        
}

100% {
    box-shadow: 0px 0px 0px 0px #ea830e;        
}
}

@-webkit-keyframes testim-content-in {
from {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

to {
    opacity: 1;
    -webkit-transform: translateY(0);        
    transform: translateY(0);        
}
}

@-moz-keyframes testim-content-in {
from {
    opacity: 0;
    -moz-transform: translateY(100%);
    transform: translateY(100%);
}

to {
    opacity: 1;
    -moz-transform: translateY(0);        
    transform: translateY(0);        
}
}

@-ms-keyframes testim-content-in {
from {
    opacity: 0;
    -ms-transform: translateY(100%);
    transform: translateY(100%);
}

to {
    opacity: 1;
    -ms-transform: translateY(0);        
    transform: translateY(0);        
}
}

@-o-keyframes testim-content-in {
from {
    opacity: 0;
    -o-transform: translateY(100%);
    transform: translateY(100%);
}

to {
    opacity: 1;
    -o-transform: translateY(0);        
    transform: translateY(0);        
}
}

@keyframes testim-content-in {
from {
    opacity: 0;
    transform: translateY(100%);
}

to {
    opacity: 1;
    transform: translateY(0);        
}
}

@-webkit-keyframes testim-content-out {
from {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

to {
    opacity: 0;
    -webkit-transform: translateY(-100%);        
    transform: translateY(-100%);        
}
}

@-moz-keyframes testim-content-out {
from {
    opacity: 1;
    -moz-transform: translateY(0);
    transform: translateY(0);
}

to {
    opacity: 0;
    -moz-transform: translateY(-100%);        
    transform: translateY(-100%);        
}
}

@-ms-keyframes testim-content-out {
from {
    opacity: 1;
    -ms-transform: translateY(0);
    transform: translateY(0);
}

to {
    opacity: 0;
    -ms-transform: translateY(-100%);        
    transform: translateY(-100%);        
}
}

@-o-keyframes testim-content-out {
from {
    opacity: 1;
    -o-transform: translateY(0);
    transform: translateY(0);
}

to {
    opacity: 0;
    transform: translateY(-100%);        
    transform: translateY(-100%);        
}
}

@keyframes testim-content-out {
from {
    opacity: 1;
    transform: translateY(0);
}

to {
    opacity: 0;
    transform: translateY(-100%);        
}
}

@-webkit-keyframes testim-show {
from {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

to {
    opacity: 1;
    -webkit-transform: scale(1);       
    transform: scale(1);       
}
}

@-moz-keyframes testim-show {
from {
    opacity: 0;
    -moz-transform: scale(0);
    transform: scale(0);
}

to {
    opacity: 1;
    -moz-transform: scale(1);       
    transform: scale(1);       
}
}

@-ms-keyframes testim-show {
from {
    opacity: 0;
    -ms-transform: scale(0);
    transform: scale(0);
}

to {
    opacity: 1;
    -ms-transform: scale(1);       
    transform: scale(1);       
}
}

@-o-keyframes testim-show {
from {
    opacity: 0;
    -o-transform: scale(0);
    transform: scale(0);
}

to {
    opacity: 1;
    -o-transform: scale(1);       
    transform: scale(1);       
}
}

@keyframes testim-show {
from {
    opacity: 0;
    transform: scale(0);
}

to {
    opacity: 1;
    transform: scale(1);       
}
}

@-webkit-keyframes testim-hide {
from {
    opacity: 1;
    -webkit-transform: scale(1);       
    transform: scale(1);       
}

to {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
}

@-moz-keyframes testim-hide {
from {
    opacity: 1;
    -moz-transform: scale(1);       
    transform: scale(1);       
}

to {
    opacity: 0;
    -moz-transform: scale(0);
    transform: scale(0);
}
}

@-ms-keyframes testim-hide {
from {
    opacity: 1;
    -ms-transform: scale(1);       
    transform: scale(1);       
}

to {
    opacity: 0;
    -ms-transform: scale(0);
    transform: scale(0);
}
}

@-o-keyframes testim-hide {
from {
    opacity: 1;
    -o-transform: scale(1);       
    transform: scale(1);       
}

to {
    opacity: 0;
    -o-transform: scale(0);
    transform: scale(0);
}
}

@keyframes testim-hide {
from {
    opacity: 1;
    transform: scale(1);       
}

to {
    opacity: 0;
    transform: scale(0);
}
}

@media all and (max-width: 300px) {
body {
    font-size: 14px;
}
}

@media all and (max-width: 500px) {
.testim .arrow {
    font-size: 1.5em;
}

.testim .cont div p {
    line-height: 25px;
}

}
.testimonial h2 {
	text-align: center;
	/* margin: 165px 0 0 0; */
	font-size: 24px;
	font-weight: 501;
}
.wrap h2 {
	font-size: 24px;
	margin: 60px 0 25px 0;
	color: #484ea6;
	font-weight: 501;
}




/* Our Team
-------------------------------------------------------*/

.our-team .team-row {
    margin-left: -40px;
    margin-right: -40px;
  }
  
  .our-team .team-wrap {
    padding: 0 40px;
  }
  
  .our-team .container-fluid {
    padding: 0 50px;
  }
  
  .team-img img {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    overflow: hidden;
    width: 100%;
  }
  
  .team-member,
  .team-img {
    position: relative;
    overflow: hidden;
  }
  
  .team-title {
    margin: 30px 0 7px;
  }
  
  .overlay {
    background-color: rgba(20,20,20,.7);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  
  .team-details {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0;
    padding: 5%;
    overflow: hidden;
    width: 100%;
    z-index: 2;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  
  .team-details p {
    color: #fff;
  }
  
  .team-img:hover .team-details {
    opacity: 1;
    margin-top: -80px;
  }
  
  .team-img:hover .overlay {
    opacity: 1;
  }
  
  .socials a {
    display: inline-block;
    width: 37px;
    height: 37px;
    background-color: transparent;
  }
  
  .socials i {
    line-height: 37px;
    color: #616161;
    font-size: 14px;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .mnc h2 {
	font-size: 24px;
	font-weight: 501;
	color: #fff;
	padding: 20px 0 0 0;
}
  
  .team-details .socials i {
      color: #fff;
  }
  
  .socials a:hover i {
    color: #fff;
    background-color: #355c7d;
  }
  .teamsec span {
	margin: 5px 0 25px 0;
	display: inherit;
}
  
  

/*/ end count stats /*/




.circle {
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    position: absolute;
    border-radius: 15px;
}


#slider-text{
    padding-top: 40px;
    display: block;
  }
  #slider-text .col-md-6{
    overflow: hidden;
  }
  
  .readymadesoltion h2 {
	color: #484ea6;
	font-size: 24px;
	font-family: "roboto";
	font-weight: 501;
	margin: 0px 0 30px 0;
}
  #slider-text h2::after{
    border-top: 2px solid #c7c7c7;
    content: "";
    position: absolute;
    bottom: 35px;
    width: 100%;
    }
  
  #itemslider h4{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin: 10px auto 3px;
  }
  #itemslider h5{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 12px;
    margin: 3px auto 2px;
  }
  #itemslider h6{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;;
    font-size: 10px;
    margin: 2px auto 5px;
  }
  .badge {
    background: #b20c0c;
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 31px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    border: 2px solid #FFF;
    box-shadow: 0 0 0 1px #b20c0c;
    top: 5px;
    right: 25%;
  }
  #slider-control img{
    padding-top: 60%;
    margin: 0 auto;
  }
  @media screen and (max-width: 992px){
  #slider-control img {
    padding-top: 70px;
    margin: 0 auto;
  }
  }
  
  .carousel-showmanymoveone .carousel-control {
    width: 4%;
    background-image: none;
  }
  .carousel-showmanymoveone .carousel-control.left {
    margin-left: 5px;
  }
  .carousel-showmanymoveone .carousel-control.right {
    margin-right: 5px;
  }
  .carousel-showmanymoveone .cloneditem-1,
  .carousel-showmanymoveone .cloneditem-2,
  .carousel-showmanymoveone .cloneditem-3,
  .carousel-showmanymoveone .cloneditem-4,
  .carousel-showmanymoveone .cloneditem-5 {
    display: none;
  }
  @media all and (min-width: 768px) {
    .carousel-showmanymoveone .carousel-inner > .active.left,
    .carousel-showmanymoveone .carousel-inner > .prev {
      left: -50%;
    }
    .carousel-showmanymoveone .carousel-inner > .active.right,
    .carousel-showmanymoveone .carousel-inner > .next {
      left: 50%;
    }
    .carousel-showmanymoveone .carousel-inner > .left,
    .carousel-showmanymoveone .carousel-inner > .prev.right,
    .carousel-showmanymoveone .carousel-inner > .active {
      left: 0;
    }
    .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
      display: block;
    }
  }
  @media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
    .carousel-showmanymoveone .carousel-inner > .item.active.right,
    .carousel-showmanymoveone .carousel-inner > .item.next {
      -webkit-transform: translate3d(50%, 0, 0);
      transform: translate3d(50%, 0, 0);
      left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.active.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev {
      -webkit-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0);
      left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev.right,
    .carousel-showmanymoveone .carousel-inner > .item.active {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      left: 0;
    }
  }
  @media all and (min-width: 992px) {
    .carousel-showmanymoveone .carousel-inner > .active.left,
    .carousel-showmanymoveone .carousel-inner > .prev {
      left: -16.666%;
    }
    .carousel-showmanymoveone .carousel-inner > .active.right,
    .carousel-showmanymoveone .carousel-inner > .next {
      left: 16.666%;
    }
    .carousel-showmanymoveone .carousel-inner > .left,
    .carousel-showmanymoveone .carousel-inner > .prev.right,
    .carousel-showmanymoveone .carousel-inner > .active {
      left: 0;
    }
    .carousel-showmanymoveone .carousel-inner .cloneditem-2,
    .carousel-showmanymoveone .carousel-inner .cloneditem-3,
    .carousel-showmanymoveone .carousel-inner .cloneditem-4,
    .carousel-showmanymoveone .carousel-inner .cloneditem-5,
    .carousel-showmanymoveone .carousel-inner .cloneditem-6  {
      display: block;
    }
  }
  @media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
    .carousel-showmanymoveone .carousel-inner > .item.active.right,
    .carousel-showmanymoveone .carousel-inner > .item.next {
      -webkit-transform: translate3d(16.666%, 0, 0);
      transform: translate3d(16.666%, 0, 0);
      left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.active.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev {
      -webkit-transform: translate3d(-16.666%, 0, 0);
      transform: translate3d(-16.666%, 0, 0);
      left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev.right,
    .carousel-showmanymoveone .carousel-inner > .item.active {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      left: 0;
    }
  }


  .meetus {
	background: url("../images/map.png");
	background-size: cover;
	padding: 30px;
	color: #fff;
	min-height: 400px;
}
.meetus h3 {
	font-size: 30px;
	font-weight: 501;
	margin: 20px 0 15px 0;
}
.ctss h2 {
	font-size: 15px;
	font-weight: 501;
}
.meetus h4 {
	font-size: 30px;
	margin: 28px 0 30px 0;
	background: #e32961;
	display: inline-block;
	padding: 8px;
	fpnt-we: ;
	font-weight: 501;
}




.footer-section {
	background: #484ea6;
	position: relative;
}
.footer-cta {
  border-bottom: 1px solid #fff;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #fff;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #fff;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #e32961;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover {
	color: #e32961;
}
.footer-widget ul li a {
  color: #fff;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #fff;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a {
	color: #e32961;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}
  


.responsive-map{
  overflow: hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  }
  .responsive-map iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  }







  .contact-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: var(--bg-color);
  }
  
  .left-col {
    width: 45vw;
    height: 100%;
    background-image: url("../images/contactvector.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .logo {
    width: 10rem;
    padding: 1.5rem;
  }
  
  .right-col {
    background: var(--bg-color);
    width: 50vw;
    height: 100vh;
    padding: 5rem 3.5rem;
  }
  
  h1, label, button, .description {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    letter-spacing: 0.1rem;
  }
  #submit {
    background: #e32961;
    padding: 25px 40px;
    border-radius: 10px;
    margin: 30px 0 30px 0;
    color: #fff;
    vertical-align: middle;
      text-align: center;
  }
  
  h1 {
    color:var(--h1-color);
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
    font-weight: 300;
  }
  .contact-container h1 {
    color: #e32961;
    font-size: 24px;
    font-weight: 501;
  }
  #contact-form label {
    font-size: 13px;
    line-height: 36px;
  }
  #contact-form textarea {
    border-bottom: 1px solid #585858;
  }
  

  
  label, .description {
    color: var(--secondary-color);
    text-transform: uppercase;
    font-size: 0.625rem;
  }
  
  form {
    width: 31.25rem;
    position: relative;
    margin-top: 2rem;
    padding: 1rem 0;
  }
  
  input, textarea, label {
    width: 40vw;
    display: block;
  }
  
  p, placeholder, input, textarea {
    font-family: 'Helvetica Neue', sans-serif;
  }
  
  input::placeholder, textarea::placeholder {
    color: var(--primary-color);
  }
  
  input, textarea {
    color: var(--primary-color);
    font-weight: 500;
    background: var(--bg-color);
    border: none;
    border-bottom: 1px solid var(--secondary-color);
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    outline: none;
  }
  
  textarea {
    resize: none;
  }
  
  button {
    text-transform: uppercase;
    font-weight: 300;
    background: var(--button-color);
    color: var(--bg-color);
    width: 10rem;
    height: 2.25rem;
    border: none;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
  }
  
  input:hover, textarea:hover, button:hover {
    opacity: 0.5;
  }
  
  button:active {
    opacity: 0.8;
  }
  
  /* Toggle Switch */
  
  .theme-switch-wrapper {
    display: flex;
    align-items: center;
    text-align: center;
    width: 160px;
    position: absolute;
    top: 0.5rem;
    right: 0;
  }
  
  .description {
      margin-left: 1.25rem;
    }
  
  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 0.25rem;
    content: "";
    width: 26px;
    height: 26px;
    left: 0.25rem;
    position: absolute;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--button-color);
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  #error, #success-msg {
    width: 40vw;
    margin: 0.125rem 0;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-family: 'Jost';
    color: var(--secondary-color);
    }
  }
  
    #success-msg {
    transition-delay: 3s;
    }
  
  @media only screen and (max-width: 950px) {
  
    input, textarea, button {
      font-size: 0.65rem;
    }
    .description {
      font-size: 0.3rem;
      margin-left: 0.4rem;
    }
  
    .theme-switch-wrapper {
      width: 120px;
    }
    .theme-switch {
    height: 28px;
    width: 50px;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 0.25rem;
    content: "";
    width: 20px;
    height: 20px;
    left: 0.25rem;
    position: absolute;
    transition: .4s;
  }
    input:checked + .slider:before {
    transform: translateX(16px);
  }
  
  .slider.round {
    border-radius: 15px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  }

  .mnc {
    margin: 0 auto;
    text-align: center;
  }
  #contact-form input {
    border-bottom: 1px solid #585858;
  }



